@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@300&display=swap');

body{
    background: #FC5C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    letter-spacing: .015em;
}
h1{
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    text-transform: uppercase;
}
section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}
.main-container{
text-align: center;
border: 2px solid white;
}